/* Definições Gerais*/
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}


html, body {
    background-color: grey;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  
/* Barra de navegação */
#menu-h{
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 2; /*Camada na qual o elemento está*/
}

.tit_icone{
    font-size: 25px;
    color: white;
    margin-left: 10px;
}
#menu-h ul{
    list-style: none;
    color:black;
    padding: 0;
    background-color: rgba(1,22,50,255);
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 3000px;
    
}
#menu-h ul li{
    display: inline;;
}
#menu-h ul li a{
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .3s;
    position: relative;
    left: 550px;
}
#menu-h ul li a:hover{
    color: rgb(24, 139, 233);
}
  
  
/*Aba principal*/
.banner_princ{
    margin-top: 50px;
    margin-left: 0px;
    width: 100%;
    height: auto;
}

h2{
    text-align: center;
}

#carrossel {
    display: flex; /* Centraliza verticalmente os elementos */
  }

.traço_horizontal {
    border: 1px solid gray;
    width: 1000px; /* Ajuste a largura como desejado */
    display: inline;
    position: absolute;
    }

.imagem_container{
    flex: 1;
}

.texto_imagem1_container, .texto_imagem2_container{
    display: flex;
    width: 60%;
}

.texto_imagem_cultos{
    text-align: justify;
    margin-left: 5%;
}

.imagem_1, .imagem_2 {
    display: block;     
    width: 260px;
    height: 260px;
    border-radius: 10%;
    margin-left: 10px; /* Ajuste a margem como desejado */
    margin-top: 20px;
    margin-bottom: 10px;
    }

.texto_culto{
    font-size: 18px;
}

p{
    text-align: center;
    font-size: 18px;
}

.qr-code-container {
    display: inline-block;
    position: absolute;
    left: 69%;
    top: 750px;
    }

.qr_code{
    width: 450px;
    height: 450px;
    border-radius: 10%;
}


#principal {
    text-align: center;
    background-color:black;
    color: white;
    padding-top: 50px;
}
body {
    background-color: white;
}
h2 {
    color:black;
}
h5{
    color:black;
}

li {
    color: black
}
.Duvidas{
    font-size: 14px;
}
#ultima_linha{
    font-family: 'Times New Roman', Times, serif;
}

/* Inscricao_eventos */
table{
    width: 600px;
    border-collapse:collapse;
}
th {
    border: 1px solid black;
    color: black;
}
td {
    border: 1px solid black;
    padding: 18px;
    color: black;
}
.obs_pag{
    color: red;
    font-family: arial;
    font-size: 20px;
    line-height: 1.5;
    margin-left: 20px;
}
.icone{
    width: 60px;
    height: 60px;
}
/* Dúvidas */
.campo-de-entrada{
    width: 99%;
    height: 30px;
    border: solid, 1px, light gray;
    margin-bottom: 20px;
    padding: 5px;
}
.botao-enviar{
    color: white;
    background: green;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
}

/* Formulario */
.formulario{
    background-color: white;
    border: solid, 1px, lightgray;
    padding: 20px;
    margin-bottom: 20px;
    
}
.entrada-nome{
    width: 18%;
}
.entrada-mensagem{
    width: 100%;
    height: 20px;
    padding: 5px; 
}




/* Features */
.features /*Definições gerais das abas*/ {
    color: white;
    background-color: #041434;
    border-radius: 20px;
    padding: 10px;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 8px 16px #041434;
}

.titulo_feature /*Título das features*/{
    font-size: 25px;
}

.link_feature /*Botão com o link*/{
    color: #041434;
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    width: 70%;
}

/*Imagem da Oferta/Doação*/
#imagem_oferta {
    width: auto;
    height: 500px;
    padding: 10px;
    margin: auto;
    display:flex;
    background-color: #041434;
    border-radius: 10px;
}