/* Definições Gerais*/
@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*{
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    background-image: url(fundo_site.avif);
    z-index: -2;
}

h3{
    color: white;
}

form{
    width: 300px;
    margin: 200px auto;
    text-align: center;
}

input{
    display: block;
    margin: auto;
    width: 250px;
    height: 30px;
}