@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    }

:root{
    --bg-color:var(--bg-color)#1d2361;
    --text-color:#FFF;
    --main-color:#34e7f8;
    --other-color:#fcfcfc;
    --h1-font: 4rem;
    --p-font: 1rem;

}

body{
    background-color: #1d2361;
    color: var(--text-color);
}

.header-icons {
    display: flex;
    align-items: center;
}

#menu {
    font-size: 35px;
    color: var(--text-color);
    z-index: 1001;
    cursor: pointer;
    position: absolute;
    right: 10px; /* Ajuste esse valor conforme necessário */
    top: 10px;
}

.header-icons .bx {
    font-size: 28px;
    cursor: pointer;
    transition: all .5s;
    margin-right: 25px;
}

.one{
    height: 415px;
    width: 360px;
}


/* Barra de navegação */
#menu-h {
    width: 100%;
    display: flex;
    align-items: center;
}

.tit_icone {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: white;
    margin-left: 10px;
}

#menu-h ul {
    list-style: none;
    color: black;
    padding: 0;
    background-color: rgba(1, 22, 50, 255);
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100px;
}

#menu-h ul li {
    display: inline;
}

#menu-h ul li a {
    color: #FFF;
    padding: 20px;
    display: inline-block;
    text-decoration: none;
    transition: background .3s;
    position: relative;
    left: 700px;
}

#menu-h ul li a:hover {
    color: rgb(24, 139, 233);
}

.icone{
    width: 60px;
    height: 60px;
}

/*Área do produto*/

.home{
    position: relative;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;
}

.home-text h1{
    font-size: var(--h1-font);
    line-height: 1.2;
    margin-bottom: 2px;
}

.home-text h5{
    color: rgba(182, 157, 157, 0.953);
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 60px;
}

.home-text h3{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 2px;
    margin-bottom: 35px;
}

.home_img img{
    max-width: 100%;
    width: 28 rem;
    height: auto;
    margin-left: 25%;
}

.btn{
    display: inline-block;
    padding: 15px 70px;
    font-size: 16px;
    font-weight: 500;
    background: transparent;
    border: solid 2px var(--text-color);
    transition: all.55 ease;
    color: #fff;
}   

.btn:hover{
    background: var(--text-color);
    border: 2px solid var(--text-color);
    color: #000;
}


